[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CPGLIB"]
	path = CPGLIB
	url = https://github.com/anthonychristidis/cpglib
	shallow = true
	registered = true
[submodule "nnGarrote"]
	path = nnGarrote
	url = https://github.com/anthonychristidis/nngarrote
	shallow = true
	registered = true
[submodule "PSGD"]
	path = PSGD
	url = https://github.com/anthonychristidis/psgd
	shallow = true
	registered = true
[submodule "robStepSplitReg"]
	path = robStepSplitReg
	url = https://github.com/anthonychristidis/robstepsplitreg
	shallow = true
	registered = true
[submodule "RPEGLMEN"]
	path = RPEGLMEN
	url = https://github.com/anthonychristidis/rpeglmen
	shallow = true
	registered = true
[submodule "RPEIF"]
	path = RPEIF
	url = https://github.com/anthonychristidis/rpeif
	shallow = true
	registered = true
[submodule "RPESE"]
	path = RPESE
	url = https://github.com/anthonychristidis/rpese
	shallow = true
	registered = true
[submodule "simTargetCov"]
	path = simTargetCov
	url = https://github.com/anthonychristidis/simtargetcov
	shallow = true
	registered = true
[submodule "SplitGLM"]
	path = SplitGLM
	url = https://github.com/anthonychristidis/splitglm
	shallow = true
	registered = true
[submodule "SplitReg"]
	path = SplitReg
	url = https://github.com/anthonychristidis/splitreg
	shallow = true
	registered = true
[submodule "splitSelect"]
	path = splitSelect
	url = https://github.com/anthonychristidis/splitselect
	shallow = true
	registered = true
[submodule "stepSplitReg"]
	path = stepSplitReg
	url = https://github.com/anthonychristidis/stepsplitreg
	shallow = true
	registered = true
