[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CPGLIB"]
	path = CPGLIB
	url = https://github.com/anthonychristidis/cpglib
[submodule "PSGD"]
	path = PSGD
	url = https://github.com/anthonychristidis/psgd
[submodule "RMSS"]
	path = RMSS
	url = https://github.com/anthonychristidis/rmss
[submodule "RPEGLMEN"]
	path = RPEGLMEN
	url = https://github.com/anthonychristidis/rpeglmen
[submodule "RPEIF"]
	path = RPEIF
	url = https://github.com/anthonychristidis/rpeif
[submodule "RPESE"]
	path = RPESE
	url = https://github.com/anthonychristidis/rpese
[submodule "SplitGLM"]
	path = SplitGLM
	url = https://github.com/anthonychristidis/splitglm
[submodule "SplitReg"]
	path = SplitReg
	url = https://github.com/anthonychristidis/splitreg
[submodule "nnGarrote"]
	path = nnGarrote
	url = https://github.com/anthonychristidis/nngarrote
[submodule "robStepSplitReg"]
	path = robStepSplitReg
	url = https://github.com/anthonychristidis/robstepsplitreg
[submodule "simTargetCov"]
	path = simTargetCov
	url = https://github.com/anthonychristidis/simtargetcov
[submodule "splitSelect"]
	path = splitSelect
	url = https://github.com/anthonychristidis/splitselect
[submodule "srlars"]
	path = srlars
	url = https://github.com/anthonychristidis/srlars
[submodule "stepSplitReg"]
	path = stepSplitReg
	url = https://github.com/anthonychristidis/stepsplitreg
